* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 233, 217);
  font-size: 25px;
  font-family: Sitka Display;
  color: rgb(245, 170, 123);
}

h1 {
  /* text-align: left; */
  margin-right: 300px;
  font-size: 2.2rem;
  font-weight: 500;
}

.logo {
  height: 20rem;
  padding-top: 7rem;
}

/* .navigation {
  display: inline-block;
  text-align: center;
  justify-content: space-between;
} */

/* .header {
  display: inline-block;
  justify-content: space-between;
  text-align: space-between;
} */

.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: rgb(245, 170, 123);
  color: rgb(80, 64, 67);
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: rgba(245, 170, 123, 0.612);
  color: rgb(80, 64, 67);
}

a {
  text-decoration: none;
  font-size: 22px;
  color: rgb(80, 64, 67);
}

footer {
  color: rgb(255, 0, 195);
}
